div {
    position: absolute;
    top: CALC(50% - 60px);
    left: CALC(50% - 60px);
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #807F80;
    border-radius: 64px;
    color: white;
    font-size: 22px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}