div {
    position: absolute;
    top: CALC(50% - 64px);
    left: CALC(50% - 64px);
    height: 120px;
    width: 120px;
    text-align: center;
    line-height: 120px;
    background-color: white;
    border: 4px solid #A97B78;
    border-radius: 64px;
    color: #A97B78;
    font-size: 30px;
    font-weight: bold;
}